<h1>カクテル登録</h1>

<% if @cocktail.errors.present? %>
  <div class="alert alert-warning">
    <ul>
      <% @cocktail.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="nav justify-content-end">
    <a class="btn btn-primary" href="/cocktails">ホームへ戻る</a>
</div>

<div class="register">
  <%= nested_form_for @cocktail  do |f| %>
    <div class="register-data">
      <div class="form-name">
          <%= f.label :name, "name" ,class: "col-form-label"%>
          <%= f.text_field :name , class: "form-control"%>
      </div>
      <div class="form-base-alcohol">
          <%= f.label :base_alcohol, "base_alcohol" ,class: "col-form-label"%>
          <%= f.select :base_alcohol, [['ウィスキー', 'ウイスキー'], ['ジン', 'ジン'], ['ラム', 'ラム'], ['テキーラ', 'テキーラ'], ['ウォッカ ', 'ウォッカ'], ['その他', 'その他']], { include_blank: ''}, { class: 'form-control'} %>
      </div>
      <div class="form-taste">
          <%= f.label :taste, "taste" ,class: "col-form-label"%>
          <%= f.select :taste, [['辛い','辛い'],['普通','普通'],['甘い','甘い']], { include_blank: ''}, { class: 'form-control'} %>
      </div>
      <div class="form-glass-type">
          <%= f.label :glass_type, "glass_type" ,class: "col-form-label"%>
          <%= f.select :glass_type, [['ロング','ロング'],['ショート','ショート'],['ショット','ショット']], { include_blank: ''}, { class: 'form-control'} %>
      </div>
      <div class="form-alcohol-percentage">
          <%= f.label :alcohol_percentage, "alcohol_percentage" ,class: "col-form-label"%>
          <%= f.select :alcohol_percentage, [['ノンアルコール(0%)','ノンコール(0%)'],['弱め(1~10%)','弱め(1~10%)'],['普通(10~20%)','普通(10~20%)'],['強め(20~30%)','強め(20~30%)'],['強い(30~40%)','強い(30~40%)'],['非常に強い(40~%)','すごく強い(40~%)']], { include_blank: ''}, { class: 'form-control'} %>
      </div>
      <div class="form-cocktail-recipe">
        <%= f.label :cocktail_recipe ,class: "col-form-label" %>
        <%= f.text_field :cocktail_recipe , class: "form-control"%>
      </div>
    <div>
      <div class="form-ingredients">
        <table class="table  alias-table">
          <thead>
            <tr>
              <th>材料名</th>
              <th>量</th>
              <th>削除</th>
            </tr>
          </thead>
          <tbody>
            <%= f.fields_for :ingredients , wrapper: false do |s| %>
            <tr class="fields">
              <td><%= s.text_field :name %></td>
              <td><%= s.text_field :quantity %></td>
              <td><%= s.link_to_remove :削除 ,class: "btn"%></td>
            </tr>
            <% end %>
          </tbody>
        </table>
         <p><%= f.link_to_add :材料を追加, :ingredients , data: { target: ".alias-table" } ,class: "btn"%></p>
      </div>
      <div class="form-image">
        <%= f.label :image ,class: "col-form-label" %>
        <%= f.file_field :image%>
      </div>
      <div class="form-submit">
          <%= f.submit%>
      </div>
  <% end %>
</div>