<h1>カクテル検索</h1>
<div class="mb-3"></div>

<div class="nav justify-content-end">
    <a class="btn btn-primary" href="/cocktails/new">新規登録</a>
</div>

<% @cocktails.each do |cocktail| %>
    <%= link_to cocktail_path(cocktail.id), class:"card my-3" do %>
        <div class="cocktail-colom">
            <div class="cocktail-name">
                <div>カクテル名</div>
                <div><%= cocktail.name %></div>
            </div>
            <div class="cocktail-base-alcohol">
                <div>ベースのお酒</div>
                <div><%= cocktail.base_alcohol %></div>
            </div>
            <div class="cocktail-taste">
                <div>味</div>
                <div><%= cocktail.taste %></div>
            </div>
            <div class="cocktail-glass-type">
                <div>グラスタイプ</div>
                <div><%= cocktail.glass_type %></div>
            </div>
            <div class="cocktail-alcohol-percentage">
                <div>度数</div>
                <div><%= cocktail.alcohol_percentage %></div>
            </div>
            <div class="cocktail-image">
                <% if cocktail.image? %>
                    <%= image_tag cocktail.image.url %>
                <% else %>
                    <%= image_tag "noimage.png" %>
                <% end %>
            </div>
        </div>
    <% end %>
<% end %>
        