<h1>カクテル検索</h1>
<div class="mb-3"></div>

<div class="nav justify-content-end">
    <a class="btn btn-primary" href="/cocktails/new">新規登録</a>
</div>

<div class="cocktail-list">
<% @cocktails.each do |cocktail| %>
    <%= link_to cocktail_path(cocktail.id), class:"cocktail-colom" do %>
        <div class="cocktail-data">
            <div class="cocktail-name">
                <dt>
                    <%= Cocktail.human_attribute_name(:name) %>
                </dt>
                <dd>
                    <%= cocktail.name %>
                </dd>
            </div>
            <div class="cocktail-base-alcohol">
                <dt>
                    <%= Cocktail.human_attribute_name(:base_alcohol) %>
                </dt>
                <dd>
                    <%= cocktail.base_alcohol %>
                </dd>
            </div>
            <div class="cocktail-taste">
                <dt>
                    <%= Cocktail.human_attribute_name(:taste) %>
                </dt>
                <dd>
                    <%= cocktail.taste %>
                </dd>
            </div>
            <div class="cocktail-glass-type">
                <dt>
                    <%= Cocktail.human_attribute_name(:glass_type) %>
                </dt>
                <dd>
                    <%= cocktail.glass_type %>
                </dd>
            </div>
            <div class="cocktail-alcohol-percentage">
                <dt>
                    <%= Cocktail.human_attribute_name(:alcohol_percentage) %>
                </dt>
                <dd>
                    <%= cocktail.alcohol_percentage %>
                </dd>
            </div>
        </div>
        <div class="cocktail-image">
            <% if cocktail.image? %>
                <%= image_tag cocktail.image.url %>
            <% else %>
                <%= image_tag "noimage.png" %>
            <% end %>
        </div>
    <% end %>
<% end %>
</div>