<h1>カクテル詳細</h1>

<div class="header">
    <div>
        <a class="btn btn-primary" href="/cocktails">ホームへ戻る</a>
        <% if current_user %>
            <%= link_to "ユーザーページへ戻る", user_path(current_user.id), class: "btn btn-primary" %>
        <% end %>
    </div>
    <% if current_user %>
    <div>
        <% if @cocktail.user_id == current_user.id %> 
            <%= link_to icon('fas', 'pen fa-2x'), edit_cocktail_path(@cocktail), data: { confirm: "カクテル「#{@cocktail.name}」を編集しますか？"},class: "btn btn-secondary"%>
            <%= link_to icon('fas', 'trash-alt fa-2x'), cocktail_path(@cocktail), :method => :delete, data: { confirm: "カクテル「#{@cocktail.name}」を削除しますか？"} ,class: "btn btn-danger" %>
        <% end %>
        <% if @cocktail.cocktailmark_by?(current_user) %> 
            <%= link_to icon('fas', 'star fa-2x'), cocktail_cocktailmarks_path(@cocktail.id), method: :delete, remote: true, class:"btn btn-light" %>
        <% else %>
            <%= link_to icon('far', 'star fa-2x'), cocktail_cocktailmarks_path(@cocktail.id), method: :post, remote: true, class:"btn btn-light" %>
        <% end %>
    </div>
    <% end %>
</div>
<div class="cocktail-detail">
    <div class="cocktail-detail-data">
        <div class="cocktail-detail-detaildata">
            <table class="table table-hover">
                <tbody>
                    <tr>
                        <th><%= Cocktail.human_attribute_name(:name) %></th>
                        <td><%= @cocktail.name %></td>
                    </tr>
                    <tr>
                        <th><%= Cocktail.human_attribute_name(:taste) %></th>
                        <td><%= @cocktail.taste %></td>
                    </tr>
                    <tr>
                        <th><%= Cocktail.human_attribute_name(:base_alcohol) %></th>
                        <td><%= @cocktail.base_alcohol %></td>
                    </tr>
                    <tr>
                        <th><%= Cocktail.human_attribute_name(:glass_type) %></th>
                        <td><%= @cocktail.glass_type %></td>
                    </tr>
                    <tr>
                        <th><%= Cocktail.human_attribute_name(:alcohol_percentage) %></th>
                        <td><%= @cocktail.alcohol_percentage %></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="cocktail-detail-recipe">
            <table class="table table-hover">
                <tbody>
                    <th><%= Cocktail.human_attribute_name(:cocktail_recipe) %></th>
                    <td><%= simple_format(h(@cocktail.cocktail_recipe), {}, sanitize: false, wrapper_tag: "div") %></td>
                    <tr>
                        <th>材料名</th>
                        <th>量</th>
                    </tr>
                    <% @ingredients.each do |ingredient| %>
                        <tr>
                            <td><%= ingredient.name %></td>
                            <td><%= ingredient.quantity %></td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
    </div>
    
    <div class="cocktail-detail-image">
        <% if @cocktail.image? %>
            <%= image_tag @cocktail.image.url , size: '300x485'%>
        <% else %>
            <%= image_tag "noimage.png" , size: '300x485'%>
        <% end %>
    </div>
</div>